@import url(http://fonts.googleapis.com/css?family=Abel|Cantata+One);
/* line 9, ../sass/style.sass */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/style.sass */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.3em;
  font-weight: lighter;
  font-family: sans-serif;
}

/* line 24, ../sass/style.sass */
body {
  position: relative;
  height: auto;
  width: 100%;
  color: #fff;
  text-align: center;
  background: rgba(51, 178, 178, 0.1);
}

/* line 33, ../sass/style.sass */
nav, header, footer, section, div {
  background: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

/* line 37, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 41, ../sass/style.sass */
header {
  position: relative;
  height: 500px;
  line-height: 500px;
  background: rgba(0, 0, 0, 0.5);
}

/* line 46, ../sass/style.sass */
nav {
  position: absolute;
  bottom: 0;
  height: 70px;
  line-height: 70px;
  width: 100%;
  background: black;
}

/* line 54, ../sass/style.sass */
footer {
  width: 100%;
  height: 200px;
  line-height: 200px;
  background: black;
}

/* line 60, ../sass/style.sass */
section {
  min-height: 100px;
  height: auto;
  background: red;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px 15px 15px;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
section:after {
  content: " ";
  display: block;
  clear: both;
}
@media screen and (max-width: 500px) {
  /* line 60, ../sass/style.sass */
  section {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
  }
  /* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  section:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 72, ../sass/style.sass */
section .col-1 {
  width: 7.22892%;
  float: left;
  margin-right: 1.20482%;
}
/* line 74, ../sass/style.sass */
section .col-2 {
  width: 15.66265%;
  float: left;
  margin-right: 1.20482%;
}
/* line 76, ../sass/style.sass */
section .col-3 {
  width: 24.09639%;
  float: left;
  margin-right: 1.20482%;
}
/* line 78, ../sass/style.sass */
section .col-4 {
  width: 32.53012%;
  float: left;
  margin-right: 1.20482%;
}
/* line 80, ../sass/style.sass */
section .col-5 {
  width: 15.66265%;
  float: right;
  margin-right: 0;
}
/* line 82, ../sass/style.sass */
section .col-6 {
  width: 49.39759%;
  float: left;
  margin-right: 1.20482%;
}
/* line 84, ../sass/style.sass */
section .col-7 {
  width: 49.39759%;
  float: right;
  margin-right: 0;
}
/* line 86, ../sass/style.sass */
section .col-8 {
  width: 66.26506%;
  float: left;
  margin-right: 1.20482%;
}
/* line 88, ../sass/style.sass */
section .col-9 {
  width: 32.53012%;
  float: right;
  margin-right: 0;
}
/* line 90, ../sass/style.sass */
section .col-10 {
  width: 83.13253%;
  float: left;
  margin-right: 1.20482%;
}
/* line 92, ../sass/style.sass */
section .col-11 {
  width: 15.66265%;
  float: right;
  margin-right: 0;
}
/* line 94, ../sass/style.sass */
section .col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 500px) {
  /* line 60, ../sass/style.sass */
  section {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  section:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 100, ../sass/style.sass */
  section .col-1 {
    width: 50%;
    float: left;
  }
  /* line 102, ../sass/style.sass */
  section .col-2 {
    width: 50%;
    float: right;
    margin-right: 0;
  }
  /* line 104, ../sass/style.sass */
  section .col-3 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 106, ../sass/style.sass */
  section .col-4 {
    width: 33.33333%;
    float: left;
  }
  /* line 108, ../sass/style.sass */
  section .col-5 {
    width: 66.66667%;
    float: right;
    margin-right: 0;
  }
  /* line 110, ../sass/style.sass */
  section .col-6 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 112, ../sass/style.sass */
  section .col-7 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 114, ../sass/style.sass */
  section .col-8 {
    width: 50%;
    float: left;
  }
  /* line 116, ../sass/style.sass */
  section .col-9 {
    width: 50%;
    float: right;
    margin-right: 0;
  }
  /* line 118, ../sass/style.sass */
  section .col-10 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 120, ../sass/style.sass */
  section .col-11 {
    width: 66.66667%;
    float: left;
  }
  /* line 122, ../sass/style.sass */
  section .col-12 {
    width: 33.33333%;
    float: right;
    margin-right: 0;
  }
}

/* line 126, ../sass/style.sass */
div[class*="col-"] {
  margin-top: 15px;
  min-height: 100px;
  padding: 10px;
  font-size: 80%;
}
@media screen and (max-width: 500px) {
  /* line 126, ../sass/style.sass */
  div[class*="col-"] {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border: 1px solid #fff;
  }
  /* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  div[class*="col-"]:after {
    content: " ";
    display: block;
    clear: both;
  }
}
